:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #ddebfd;
    font-family: Arial, Helvetica, sans-serif;
    color: #1f1f1f;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


/* LOGIN */

.login-container {
  
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  color: #202020;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
}

label {
  font-size: 18px;
  margin-top: 10px;
}

input, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 9px 0;
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
  font-size: 18px;
  background-color: #f0f0f0;
  outline: none;
  color: #000;
}

button {
  width: 100%;
  background-color: #578ff8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  font-size: 18px;
}

/* PRODUCT LIST */

.product-list-container {
  width: 100%;
  padding: 30px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.product-card {
  /* width: 30%; */
  /* width: 300px; */
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid #b1ccff;
  border-radius: 20px;
  background-color: #fff;
  padding: 16px;
}

.product-card img {
  width: 100%;
  margin-bottom: 20px;
}

.product-actions{
  margin-top: auto;
}
.product-actions button {
  margin-right: 10px;
  background-color: #578ff8;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  
}


/* Page Edit */
.wrapper-edit-product{
  background-color: rgba(0, 0, 0, 0.589);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-product-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  width: 30%;
  position: relative;
  padding-top: 20px;
}

.edit-product-form label {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}

.edit-product-form input[type='text'], .edit-product-form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #578ff8;
  border-radius: 4px;
}

.edit-product-form input[type='submit'] {
  background-color: #578ff8;
  color: white;
  border: none;
  padding: 14px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.close-btn{
  position: absolute;
  top: 10px;
  right: 18px;
  font-size: 30px;
  color: #000;
  cursor: pointer;
}